# Android / Kotlin
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build/
captures/
output.json

# Kotlin DSL & Gradle
.gradle/
build/
**/build/
**/.gradle/

# Cursor
.cursor/cache/
.cursor/tmp/
.cursor/session*

# OS-specific
Thumbs.db
ehthumbs.db
Icon?
desktop.ini
*.swp
*.swo

# Node.js (si tu ajoutes un serveur plus tard)
node_modules/
.env

.cursorrules
.cursorignore
.gitmessage